@media (max-width: 2561px){
    .promo{
        height: 1650px;
    }
}
@media (max-width: 2447px){
    .promo{
        height: 1580px;
    }
}
@media (max-width: 2183px){
    .promo{
        height: 1440px;
    }
}
@media (max-width: 2026px){
    .promo{
        height: 1350px;
    }
}
@media (max-width: 1842px){
    .promo{
        height: 1250px;
    }
}
@media (max-width: 1574px){
    .promo{
        height: 1090px;
    }
}
@media (max-width: 1411px){
    .promo{
        height: 990px;
    }
}
@media (max-width: 1242px){
    .promo{
        height: 890px;
    }
}
@media (max-width: 1025px){
    .promo{
        height: 760px;
    }
}